html {
  font-size: 62.5%;
}

html, body { height: 100%; }


.body-container{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 1728px;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.flex-nav {
  display: flex;
}

.icon {
  width: 40px;
  height: 40px;
}

/* Navigation bar */
.nav-menu {
  text-align: center;
}

.nav-menu_ol li{ line-height: 7em; }

.nav-menu {
  background-color: #ffc297;
  padding: 2.5em 2.5em 0 2.5em;
}

.logo-image,
.setting-image {
  width: 65px;
  height: 65px;
}


.nav-menu_ol li:last-child {
  position: absolute;
  bottom: 2.5em;
}

/* Options bar */
.options-nav {
  min-width: 20.625rem;
  border-right: 2px solid #858585;
  padding: 2.5em 0 0 2.5em;
}

.options-nav_ul li:first-child {
  margin-bottom: 1em;
}

.options-nav_ul li {
  line-height: 7em;
}

.options-nav_ul .icon {
  position: relative;
  top: 13px;
}

.options-nav_ul li > a {
  margin-left: 1em;
}

.settings-tittle_options {
  display: inline;
  font-size: 3rem;
  margin: 0;
}

.options-nav_ul a {
  font-size: 1.75rem;
  color: #858585;
}

.options-nav_ul li:first-child a {
  color: #000;
}

/* form */
.form-section {
  padding: 2em 0 0 13em;
  /* width: 100%; */
}

.form-section form {
  display: flex;
  flex-direction: column;
}

.form-section input {
  height: 4.375rem;
}

.form-section label {
  font-size: 3rem;
}